.details__wrapper-container {
  padding-top: 6vh;
}

.details__wrapper {
  padding: 20px;
}

.details__thumbnail-gallery {
  height: 640px;
  overflow: auto;
}

.details__thumbnail {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 3px;
}

.details__main-image {
  border-radius: 3px;
  height: 640px;
  width: 400px;
  margin: 0 40px 0 20px;
  background-size: cover;
  background-position: center;
}

.details__information {
  width: 600px;
  height: 640px;
}

.details__title {
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
  color: #555;
}

.details__price {
  font-size: 30px;
  text-transform: uppercase;
  color: #333;
}

.details__spacer {
  height: 40px;
}
