body, html {
  padding: 0;
  margin: 0;
}

h1, p {
  margin: 0;
}

.hero {
  background-image: url('/assets/images/hero.jpg');
  background-size: cover, cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: relative;
}

.hero-callout {
  font-size: 10vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  position: absolute;
  bottom: 8vh;
  left: 8vh;
  color: #333;
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 12px);
  fill: white;
}

.down-arrow svg {
  width: 32px;
  height: 32px;
}

.left-nav {
  box-sizing: border-box;
  z-index: 10;
  width: 280px;
  background-color: white;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 30px;
}

.dark-text {
  color: #333;
}

.left-nav-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.main-nav-title {
  font-family: 'Raleway', serif;
  font-weight: 300;
  font-size: 20px;
  position: fixed;
  pointer-events: none;
  padding-left: 2vw;
  line-height: 6vh;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #eee;
  height: 6vh;
  box-sizing: border-box;
  background-color: white;
  z-index: 20;
  transition: all 200ms ease-in-out;
}


.left-nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: 25px;
  text-decoration: none;
}

.left-nav-link:hover {
  cursor: pointer;
  font-weight: 400;
}

.left-nav-link.o__selected,
.left-nav-link.o__selected:hover {
  font-weight: 700;
}

.gallery {
  box-sizing: border-box;
  padding: 10vh 5vw;
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 3vw;
}

.gallery-wrapper {
  margin: 0 auto;
  width: 400px;
}

.gallery-image {
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  cursor: pointer;
  border: 1px solid #eee;
  transition: all 200ms ease-in-out;
}

.gallery-image:hover {
  filter: contrast(1.2);
}

.gallery-description {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #333;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
}

.gallery-price {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #888;
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
}

.sp {
  margin-top: 40px;
}

.main-panel {
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  height: 94vh;
  min-height: fit-content;
  overflow: hidden;
  padding-top: 30px;
}

.main-panel-inner {
  max-width: 1920px;
  margin: 0 auto;
}

.main-panel.purple {
  background: linear-gradient(to right, #9B8993, #C2B7BD);
}

.main-panel.yellow {
  background: linear-gradient(to right, #F7E093, #FFF2C3);
}

.main-panel.grey {
  background: linear-gradient(to right, #eee, #fefefe);
}

.panel-text {
  padding: 10vh 10vw;
}

.panel-text.white {
  color: #eee;
}

.panel-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.panel-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.panel-description.bold {
  font-weight: 400;
}

.panel-spacer {
  height: 30px;
}

.panel-price {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.panel-shipping-details {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.panel-handmade-details {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-style: italic;
  line-height: 12px;
  opacity: 0.7;
}

.white .panel-order-now-button {
  border: 1px solid white;
}
.panel-order-now-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
  width: 300px;
  height: 50px;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #333;
  transition: all 100ms ease-in-out;
  background: transparent;
}

.panel-order-now-button:hover {
  color: white;
  background: #333;
  border-color: white;
}

.white .panel-order-now-button:hover  {
  color: #333;
  background: white;
}

.hero-model {
  height: 94vh;
  margin-right: 10vw;
  position: sticky;
  top: 6vh;
  filter: drop-shadow(16px 16px 20px rgba(0,0,0,0.2));
}

.layout__box {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}


.layout__box.o__has-columns {
  display: flex;
  flex-direction: row;
}

.layout__box.o__has-rows {
  display: flex;
  flex-direction: column;
}

.layout__box.o__scrolls {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.layout__box.o__flexes-to-1 {
  flex: 1 1 auto;
}

.layout__box.o__flexes-to-5 {
  flex: 5 1 auto;
}

.layout__box.o__centers-horizontally {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.layout__box.o__centers-vertically {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout__box.o__centers-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}